<div class="container-fluid">
    <div class="hero-unit">
        <h1>About Me?</h1>
        <p></p>
        <p>Hi, My name is Yoshihiro Misawa. I'm interested in web development, android porting. </p>
        <p>I <i class="icon-heart"></i> my pet Mii. She is so cute! Wanna see her? <a href="/image/my_pet_mii.jpg" target="_blank">here</a>. haha...</p>
    </div>

    <h2>Name</h2>
    <p>Yoshihiro Misawa</p>
    <hr>

    <h2>Screen Name</h2>
    <ul>
        <li>PyYoshi (Usually)</li>
        <li>DevRenax</li>
    </ul>
    <hr>

    <h2>Favorites</h2>
    <ul>
        <li>Web Development</li>
        <li>Android Porting</li>
        <ul>
            <li><a href="https://github.com/CM4IS01/cm4is01_android" target="_blank"><i class="icon-github"></i> IS01 Port</a></li>
            <li><a href="https://github.com/CM4IS01/android_device_panasonic_ponyo" target="_blank"><i class="icon-github"></i> P01D Port</a></li>
        </ul>
        <li>Web Scraping</li>
        <li>Rest API Hacking</li>
        <li>Linux Kernel Hacking</li>
    </ul>
    <hr>

    <h2>Programming Languages</h2>
    <ul>
        <li><i class="icon-smile"></i> Python</li>
        <li><i class="icon-smile"></i> CoffeeScript (JavaScript)</li>
        <li><i class="icon-meh"></i> Golang</li>
        <li><i class="icon-meh"></i> C/C++</li>
        <li><i class="icon-meh"></i> C#</li>
        <li><i class="icon-meh"></i> Java</li>
    </ul>
    <ul class="inline">
        <li><i class="icon-smile"></i> is better</li>
        <li><i class="icon-meh"></i> is soso</li>
    </ul>
    <hr>

    <h2>Products</h2>
    <div class="row-fluid">
        <div class="span4">
            <h3>cChardet</h3>
            <p>cChardet is high speed character set detector. Written in Cython and C/C++.
                This is Python Library. cChardet is faster than chardet.
                Supported more codecs!
            </p>
            <p><a class="btn" href="https://github.com/PyYoshi/cChardet" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>Tweet: Now Browsing!</h3>
            <p>Share currently viewed page on Twitter. Features: Share current page on Twitter!, Secure URL shortener: t.co, Simple Tweet!, Similar to Tweet Button!</p>
            <p><a class="btn" href="#" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4">
            <h3>PeerCastIM4Linux</h3>
            <p>I ported PeerCastIM to Linux. This is compatible with PeerCastIM.</p>
            <p>Target commit is <a href="https://bitbucket.org/PyYoshi/peercastim4linux/commits/068fa79887b3ff8934382e2dadf04abddc698619" target="_blank">here</a></p>
            <p><a class="btn" href="https://bitbucket.org/PyYoshi/peercastim4linux/overview" target="_blank">View details &raquo;</a></p>
        </div>
    </div>
    <hr>

    <h2>Contact</h2>
    <ul>
        <li><a href="mailto:myoshi321go+aboutme[at mark]gmail[dot]com" target="_blank"><i class="icon-envelope-alt"></i> My Email</a></li>
        <li><a href="https://github.com/PyYoshi" target="_blank"><i class="icon-github"></i> Github</a></li>
    </ul>
    <hr>


</div>