<div class="container-fluid">
    <div class="hero-unit">
        <h1>About Me?</h1>
        <p></p>
        <p>Hi, My name is Yoshihiro Misawa. I'm interested in web development, android porting. </p>
        <p>I <i class="icon-heart"></i> my pet Mii. She is so cute! Wanna see her? <a href="/image/my_pet_mii.jpg" target="_blank">here</a>. haha...</p>
        <p>Japanese Version is <a href="/#!/about_ja">here</a></p>
    </div>

    <h2>Info</h2>
    <div class="row-fluid ">
        <div class="span4 well">
            <h2>Name</h2>
            <p class="muted"><strong>Yoshihiro Misawa</strong></p>
            <h4>Screen Name</h4>
            <ul>
                <li><p class="">PyYoshi (Usually)</p></li>
                <li><p class="">DevRenax</p></li>
            </ul>
        </div>
        <div class="span4 well">
            <h2>Favorites</h2>
            <ul>
                <li>Web Development / Scraping</li>
                <li>Android Porting</li>
                <ul class="inline">
                    <li><a href="https://github.com/CM4IS01/cm4is01_android" target="_blank"><i class="icon-github"></i> IS01 Port</a></li>
                    <li><a href="https://github.com/CM4IS01/android_device_panasonic_ponyo" target="_blank"><i class="icon-github"></i> P01D Port</a></li>
                </ul>
                <li>Linux Kernel Hacking</li>
                <li>Video Game :)</li>
            </ul>
        </div>
        <div class="span4 well">
            <h2>Languages</h2>
            <ul class="inline">
                <li><i class="icon-smile"></i>:  Japanese</li>
                <li><i class="icon-frown"></i>:  English</li>
            </ul>
            <ul class="inline">
                <li><i class="icon-smile"></i>:  Python, CoffeeScript, JavaScript</li>
            </ul>
            <ul class="inline">
                <li><i class="icon-meh"></i>:  Golang, C/C++, C#, Java</li>
            </ul>
            <ul class="inline">
                <li><i class="icon-smile"></i> is better</li>
                <li><i class="icon-meh"></i> is soso</li>
                <li><i class="icon-frown"></i> is little</li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4 well">
            <h2>Work</h2>
            <p>|None| λ....</p>
        </div>
        <div class="span4"></div>
        <div class="span4 well">
            <h2>Contact</h2>
            <ul>
                <li><a href="mailto:myoshi321go+aboutme[at mark]gmail[dot]com" target="_blank"><i class="icon-envelope-alt"></i> My Email</a></li>
                <li><a href="https://github.com/PyYoshi" target="_blank"><i class="icon-github"></i> Github</a></li>
            </ul>
        </div>
    </div>
    <hr>

    <h2>Products</h2>
    <div class="row-fluid">
        <div class="span4 well">
            <h3>cChardet</h3>
            <p>cChardet is high speed character set detector. Written in Cython and C/C++.
                This is Python Library. cChardet is faster than chardet.
                Supported more codecs!
            </p>
            <p><a class="btn btn-inverse" href="https://github.com/PyYoshi/cChardet" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4 well">
            <h3>Tweet: Now Browsing!</h3>
            <p>Share currently viewed page on Twitter. Features: Share current page on Twitter!, Secure URL shortener: t.co, Simple Tweet!, Similar to Tweet Button!</p>
            <p><a class="btn btn-inverse" href="https://chrome.google.com/webstore/detail/tweet-now-browsing/glepgipoohhiadcmcaajmkfniihojnea" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4 well">
            <h3>PeerCastIM for Linux</h3>
            <p>I ported PeerCastIM to Linux. This is compatible with PeerCastIM.</p>
            <p>Target commit is <a href="https://bitbucket.org/PyYoshi/peercastim4linux/commits/068fa79887b3ff8934382e2dadf04abddc698619" target="_blank">here</a></p>
            <p><a class="btn btn-inverse" href="https://bitbucket.org/PyYoshi/peercastim4linux/overview" target="_blank">View details &raquo;</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4 well">
            <h2>Other</h2>
            <p>anything else?</p>
            <p><a class="btn btn-inverse" href="https://github.com/PyYoshi?tab=repositories" target="_blank">View details &raquo;</a></p>
        </div>
        <div class="span4"></div>
    </div>
    <hr>

</div>