<footer class="footer">
    <div id="footer">
        <div class="container" id="footer-container">
            <ul class="unstyled text-center">
                <li><p class="muted">Powered By <a href="http://angularjs.org/"><strong>AngularJS</strong></a> and <a href="http://twitter.github.io/bootstrap"><strong>BootStrap</strong></a></p></li>
                <li class="copyright"><p class="muted">&copy; 2013 REMU.BIZ</p></li>
                <li></li>
            </ul>
        </div>
    </div>
</footer>